.main {

    display: flex;
}

.right-class {

    width: 675px;

    background: url('./../images/Vector.png');

    background-size: cover;

    height: 642px;

    border: 1px;

    padding-left: 50px;

    padding-top: 26px;

    padding-bottom: 23px;

    gap: 74px;

}

.logo {

    display: flex;

    align-items: center;

    top: 42px;

    left: 118px;

    width: 35%;

    font-family: 'ABeeZee', sans-serif;

}

.logo img {

    width: 52px;
    height: 52px;
}

.header {

    display: flex;
}

.left-class {

    padding-left: 110px;

    padding-top: 35px;

    width: 856px;
}


.sub-class-lft .footer {

    background-color: #FF9257;

    height: 22%;
}

.navbar ul {


    display: flex;

    justify-content: space-between;

    list-style-type: none;

    gap: 62px;

    font-family: 'ABeeZee', sans-serif;

    color: #838383;


}

.right-class {

    display: flex;

    flex-wrap: wrap;

    padding-left: 53px;
}

.right-class img {
    width: 186.04px;
    height: 186.04px;
}

.content {

    display: flex;

    align-items: center;
    /* 
    width: 64%; */
}

.content h1 {

    font-family: 'Nunito', sans-serif;

    font-weight: 550;

    font-size: 53.5px;

    height: 117px;

    line-height: 1.5;

}

.left-class .para {

    font-family: 'Nunito', sans-serif;

    font-weight: 200;

    font-size: 17.2;

    line-height: 8px;

}

.image-data {

    display: flex;

    gap: 48px;

    font-family: 'Nunito', sans-serif;

    font-weight: 100;

    font-size: 17.2px;
}

.button-class {

    display: flex;

    align-items: center;

    gap: 30px;
}

.button-class .sub-btn {

    display: flex;

    align-items: center;

    gap: 11px;
}

.button-class .sub-btn {

    font-family: 'Nunito', sans-serif;
}

.button-class .sub-btn h4{

    font-weight: 510;

}


.button-class img {

    width: 35px;

    height: 35px;

}

.button-class .btn {

    color: white;
    font-family: 'Nunito', sans-serif;
    width: 212px;
    height: 56px;
    background-color: #2F584E;
    border-radius: 34px;
    border: 0px;
}

.avathar-data {

    width: 95px;
}

.avathar-data .avathar-para {}

.avathar-group {

    display: flex;

    align-items: center;

    width: 40%;
}

.avathar {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    object-fit: cover;

    border: 4px solid white;

    margin-left: -20px;
}